<%= devise_error_messages! %>

<div class="p-2 pb-0 col-6 border border-dark rounded">
  <%= content_tag 'h2', t('in_form.reg_new_user') %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.label :email, class: "fw-bold" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-12 mb-2" %>
    </div>

    <div class="field">
      <%= f.label :password, content_tag( :span, t('activerecord.attributes.user.password'),
        class: "fw-bold d-inline-block") + t('in_form.min_symbols', symbols: @minimum_password_length) %>
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "col-12 mb-2" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation,  t('activerecord.attributes.user.password_confirmation'), class: "fw-bold" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-12 mb-2" %>
    </div>

    <div class="actions">
      <%= f.submit t('in_form.sing_up'), class: 'btn-primary p-2 rounded' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
