<%= form_for @user, html: {multipart: true} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="form-group">
    <%= f.label :name, class: "fw-bold" %>
    <%= f.text_field :name, class: "col-12 mb-2 form-control p-1 pr-2" %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "fw-bold" %>
    <%= f.text_field :email, class: "col-12 mb-2 form-control p-1 pr-2" %>
  </div>

  <div class="form-group">
    <%= f.label :avatar, class: "fw-bold" %>
    <div class="row mb-2">
      <%= image_tag @user.avatar.thumb.url, class: "col-2 d-block" if @user.avatar? %>
      <%= f.file_field :avatar, class: "col-9 form-control-file" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('message.save'), class: 'btn btn-primary' %>
    или <%= link_to t('message.back'), :back, class: 'btn btn-primary' %>
  </div>
<% end %>
