<%= form_for(@event) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @event} %>

  <div class="form-group">
    <%= f.label :title, class: "fw-bold" %>
    <%= f.text_field :title, class: "col-12 mb-2 form-control p-1 pr-2" %>
  </div>

  <div class="form-group">
    <%= f.label :address, class: "fw-bold" %>
    <%= f.text_field :address, class: "col-12 mb-2 form-control p-1 pr-2" %>
  </div>

  <div class="form-group">
    <%= f.label :datetime, class: "fw-bold" %>
    <p><%= f.datetime_select :datetime, class: "col-12 mb-2 form-control p-1 pr-2" %></p>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "fw-bold" %>
    <%= f.text_area :description, class: "col-12 mb-2 form-control p-1 pr-2" %>
  </div>

  <div class="form-group">
    <%= f.label :pincode %>
    <%= f.text_field :pincode, class: 'form-control' %>
  </div>

  <div class="actions mt-2">
    <%= f.submit t('message.save'), class: 'btn btn-primary' %>
    или <%= link_to t('message.back'), :back %>
  </div>
<% end %>
