<div class="border rounded border-dark p-2">
  <%= form_for [@event, photo], html: { multipart: true } do |f| %>
    <%= render partial: 'partials/form_errors', locals: {model: photo} %>

    <div class="form-group">
      <%= f.label t('in_form.load_photo') %>
      <%= f.file_field :photo %>

      <%= f.submit t('in_form.load'), class: 'btn btn-primary d-inline-block align-top' %>
    </div>
  <% end %>
</div>
