<h1><%= t '.title' %></h1>
<%= @photo.photo.url %>
<p><%= t '.author' %>: <strong><%= @photo.photo.url %></strong></p>

<hr/>

<%= image_tag @photo.photo.url %>
<%= t '.event' %>
<h3><%= @event.title %></h3>

<%= t '.datetime' %>
<h4><%= l @event.datetime %></h4>

<%= t '.owner' %>
<h4><%= @event.user.name %></h4>
