<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <%= button_to t('app.name'), root_path, method: :get, class: 'navbar-brand button-nav-up' %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <% if user_signed_in? %>
                <li class="nav-item active">
                  <%= button_to t("message.profile"), current_user, method: :get, class: 'nav-link button-nav-up' %>
                </li>
                <li class="nav-item">
                  <%= button_to t("message.sing_out"), destroy_user_session_path, method: :delete, class: 'nav-link button-nav-up' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= button_to t("message.sing_in"),new_user_session_path, method: :get, class: 'nav-link button-nav-up' %>
                </li>
                <li class="nav-item">
                  <%= button_to t("message.sing_up"),new_user_registration_path, method: :get, class: 'nav-link button-nav-up' %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="content">
      <div class="container">

        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key%>" id="win-message">
            <button class="btn btn-close float-end" id="btn-close"></button>
            <%= value %>
          </div>
        <% end %>

        <%= yield %>
        
        <p>&copy; <%= t('app.company') %> 2018</p>
      </div>
    </div>
  </body>
</html>
